
.sky-blue-box {
            background-color: skyblue;
            width: 550px;
            height: 450px;
            padding-top: 20px;
            padding-left: 20px;
}

.green-box {
            background-color: green;
            width: 450px;
            height: 150px;
}

.amber-box {
            background-color: orange;
            width: 300px;
            height: 250px;
            padding-top: 30px;
            padding-left: 30px;
}

.blue-box {
            background-color: blue;
            width: 100px;
            height: 70px;
}

