.container {
    width: 1024;
    background-color: darkgreen;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}


header {
    background-color: lightgreen;
    min-height: 100px;
}

main {
    background-color: seagreen;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: greenyellow;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: blue;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: orange;
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: red;
    min-height: 300px;
    width: 33%;
}


.herobox1 {
    background-color: purple;
    /* width: 66.3%; this can work without flexbox */
    flex: 2;
}

.herobox2 {
    background-color: yellow;
    /* width: 33.6%; this can work without flexbox */
    flex: 1;
}