html {
    height: 100%;
}

body {
    background-image: linear-gradient(#FC5E55, #FA4083);
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;;
}


main {
    /* background-color: seagreen; */
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: greenyellow;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: blue;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: orange;
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: red;
    min-height: 300px;
    width: 33%;
}


.herobox1 {
    /* background-color: purple; */
    /* width: 66.3%; this can work without flexbox */
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    /* background-color: yellow; */
    /* width: 33.6%; this can work without flexbox */
    flex: 1;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}