
.grey-box {
            background-color: grey;
            width: 680px;
            height: 500px;
}

.yellow-box {
            background-color: yellow;
            width: 450px;
            height: 300px;
}
    