/* This way could center the elements with the margin property on each eleemnt */
/* header {
    background-color: blue;
    height: 118px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: red;
    height: 40px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color:orange;
    height: 400px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color:green;
    height: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
} */

/* Here a container was added and since now the container has the width property the idividual elements do not need this property */
/* Also I put the container selectro here as you want to palce things at the CSS stylesheet that reflect hierarchy, parent-child nested type, cascade order of the elements selected */
body {
    background-color: #2F3035;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    height: 118px;
    /* width: 1024px; */
    text-align: center;
}




nav {
    background-color: red;
    height: 40px;
    /* width: 1024px; */
    
}

main {
    /* background-color:orange; */
    height: 400px;
    /* width: 1024px; */
    text-align: center;
    /* margin-top: 80px; */
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    background-color:green;
    height: 100px;
    /* width: 1024px; */
    
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}