/* Global View aka Dektop View */
body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: rgb(211, 205, 205);
}

a {
    color: white;
    text-decoration: none;
}

.container {
    /* background-color: rgb(43, 236, 147); */
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.header-container {
    background-color:rgb(60, 60, 60);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    /* background-color: blueviolet; */
    margin: 0 auto; /* this property centers the blueviolet header  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.col {
    /* background-color: rgb(247, 8, 131);
    min-height: 200px; */
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(43, 236, 147);
} 

.col p {
    
    font-size: 0.825rem;
    padding: 20px 30px;
    line-height: 1.25rem;
}

.hide-desktop-only {
    display: none;
}


.col img {
    width: 100%;
    height: auto;
}


.col p::first-line {
    font-weight: 700;
}

.mybutton {
    /* padding: 10px 20px;
    border: solid 1px white;
    margin-left: 20px; */

    padding: 10px 25px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
}

.highlight {
    font-weight: 900;
    color: rgb(43, 236, 147);
}



.footer-container {
    background-color:rgb(60, 60, 60);
    min-height: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    max-width: 1024px;
    min-height: 40px;
    margin: 0 auto;
    text-align: center; 
    padding: 20px 10px; 
}

.mob-wrapper {
    display: none; 
}






/* Tablet View */
@media (max-width: 768px) {

    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
    

/* header {
    display: block;
    text-align: center;
} */

.header-container {
    position: relative;
}


.container {
    padding-top: 40px;
}

nav {
    display: none;
}

nav a {
    display: block;
}

.logo {
    padding: 40px 0px; 
}

.mybutton {
    margin-left: 0px;
}

.mob-wrapper {
    display: block; 
    padding-right: 30px;
}

.mob-nav {
    display: none;
    position: absolute;
    padding-top: 10px;
}

.navbutton {
    display: block;
    /* background-color: coral; */
    background-color: rgb(43, 236, 147);
    padding: 15px 30px; 
    margin-left: -70px;
    text-align: center;
}

}





/* Mobile View */
@media (max-width: 400px) {
    

    .col {
        width: 100%;
    }

    .hide-mobile-only {
        display:none;
    }

}

    /* header {
    display: block;
    text-align: center;
    
    }

    .header-container {
        position: fixed;
    }

    nav a {
        display: block;
    }

    .logo {
        padding: 40px 0px;
       

    .myNav-button {
        margin-left: 0;
    }

    .container {
        padding-top: 40px;
    } */



